* {
	font-family: arial, sans-serif;
	color: #545454;
}

html, body {
	margin:0;
	height: 100%;
}

.Wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.Wrapper .IndexPage {
	justify-content: center;
}

.Wrapper .MainSection {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.MainSection .SearchContainer {
	margin-top: 20px;
	width: 100%;
}

.MainSection .SearchContainer form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.SearchContainer .SearchButton {
	color: #757575;
	background-color: #f5f5f5;
	border: none;
	height: 36px;
	width: 125px;
	border-radius: 1px;
	font-size: 13px;
	font-weight: bold;
	margin-top: 20px;
	cursor: pointer;
	outline: none;
}

.MainSection .SearchContainer .SearchBox {
	border: none;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	height: 44px;
	border-radius: 2px;
	outline: none;
	padding: 10px;
	box-sizing: border-box;
	font-size: 16px;
	width: 70%;
	max-width: 630px;
	color: #000;
}

.MainSection .LogoContainer {
	width: 320px;
	text-align: center;
	margin-top: 100px;
}

.LogoContainer img {
	width: 100%;
}

.Header {
	background-color: #fafafa;
	border-bottom: 1px solid #ebebeb;
}

.Wrapper .HeaderContent {
	display: flex;
	align-items: center;
}

.HeaderContent .LogoContainer {
	width: 150px;
	padding: 5px 20px;
	box-sizing: border-box;
}

.HeaderContent .SearchContainer{
	flex: 1;
}

.HeaderContent .SearchContainer form {
	margin: 15px 0 28px 0;
}

.HeaderContent .SearchBarContainer {
	height: 44px;
	border-radius: 2px;
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	width: 70%;
	max-width: 630px;
	box-sizing: border-box;
	display: flex;
}

.HeaderContent .SearchBarContainer .SearchBox {
	flex: 1;
	border: none;
	background-color: transparent;
	padding: 12px;
	font-size: 16px;
	font-color: #000;
}

.HeaderContent .SearchBarContainer .SearchButton {
	background-color: #fff;
	height: 30px;
	margin-top: 10px;
	width: 44px;
	padding-right: 20px;
	display: flex;
	justify-content: center;
}

.HeaderContent .SearchBarContainer .SearchButton img {
	width: 22px;
	margin-left: 10px;
}

.TabsContainer {
	margin-left: 150px;
}

.TabsContainer .TabList {
	padding: 0;
	margin: 0;
}

.TabsContainer .TabList li {
	display: inline-block;
	padding: 0 16px 12px 16px;
	color: #777;
	font-size: 13px;
}

.TabsContainer .TabList li a {
	text-decoration: none;
}

.TabsContainer .TabList li.active {
	border-bottom: 3px solid #1a73e8;
}

.TabsContainer .TabList li.active a {
	font-weight: bold;
	color: #1a73e8;
}

.MainResultsSection {
	flex: 1;
}

.MainResultsSection .ResultsCount {
	font-size: 13px;
	color: #808080;
	margin-left: 150px;
}

.MainResultsSection .SiteResults {
	margin-left: 150px;
}

.ResultContainer {
	display: flex;
	flex-direction: column;
	margin-bottom: 26px;
}

.ResultContainer .Title {
	margin: 0;
}

.ResultContainer .Title a {
	color: #1a0dab;
	text-decoration: none;
	font-weight: normal;
	font-size: 18px;
}

.ResultContainer .Title a:hover {
	text-decoration: underline;
}

.ResultContainer .Url {
	color: #006621;
	font-size: 14px;
}

.ResultContainer .Description {
	font-size: 12px;
}

.PaginationContainer {
	display: flex;
	justify-content: center;
	margin-bottom: 25px;
}

.PageButtons {
	display: flex;
}

.PageNumberContainer img {
	height: 37px;
}

.PageNumberContainer,
.PageNumberContainer a {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
}

.PageNumber {
	color: #000;
	font-size: 13px;
}

a .PageNumber {
	color: #4285f4;
}